InternetMarket01.03/RegistrationWindow/Connected Services/AuthorizationServiceReference/AuthorizationService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="AuthorizationService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:3075/AuthorizationService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:3075/AuthorizationService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IAuthorizationService_DoesUserExist_InputMessage">
    <wsdl:part name="parameters" element="tns:DoesUserExist" />
  </wsdl:message>
  <wsdl:message name="IAuthorizationService_DoesUserExist_OutputMessage">
    <wsdl:part name="parameters" element="tns:DoesUserExistResponse" />
  </wsdl:message>
  <wsdl:message name="IAuthorizationService_GetUserStatus_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUserStatus" />
  </wsdl:message>
  <wsdl:message name="IAuthorizationService_GetUserStatus_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserStatusResponse" />
  </wsdl:message>
  <wsdl:message name="IAuthorizationService_Login_InputMessage">
    <wsdl:part name="parameters" element="tns:Login" />
  </wsdl:message>
  <wsdl:message name="IAuthorizationService_Login_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoginResponse" />
  </wsdl:message>
  <wsdl:portType name="IAuthorizationService">
    <wsdl:operation name="DoesUserExist">
      <wsdl:input wsaw:Action="http://tempuri.org/IAuthorizationService/DoesUserExist" message="tns:IAuthorizationService_DoesUserExist_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAuthorizationService/DoesUserExistResponse" message="tns:IAuthorizationService_DoesUserExist_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUserStatus">
      <wsdl:input wsaw:Action="http://tempuri.org/IAuthorizationService/GetUserStatus" message="tns:IAuthorizationService_GetUserStatus_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAuthorizationService/GetUserStatusResponse" message="tns:IAuthorizationService_GetUserStatus_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Login">
      <wsdl:input wsaw:Action="http://tempuri.org/IAuthorizationService/Login" message="tns:IAuthorizationService_Login_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAuthorizationService/LoginResponse" message="tns:IAuthorizationService_Login_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IAuthorizationService" type="tns:IAuthorizationService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="DoesUserExist">
      <soap:operation soapAction="http://tempuri.org/IAuthorizationService/DoesUserExist" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserStatus">
      <soap:operation soapAction="http://tempuri.org/IAuthorizationService/GetUserStatus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Login">
      <soap:operation soapAction="http://tempuri.org/IAuthorizationService/Login" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AuthorizationService">
    <wsdl:port name="BasicHttpBinding_IAuthorizationService" binding="tns:BasicHttpBinding_IAuthorizationService">
      <soap:address location="http://localhost:3075/AuthorizationService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>