InternetMarket01.03/Testing/Service References/NewGlobalServiceReference/NewGlobalService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="MakeOrder">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="p_id" type="xs:int" />
        <xs:element minOccurs="0" name="userphone" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="dt" type="xs:dateTime" />
        <xs:element minOccurs="0" name="fullprice" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="count" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MakeOrderResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="MakeOrderResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>